{% extends 'base.html' %} {% block content %}


<h1 class="display-2">All Features</h1>
<div id="wrapper">
    <div class="row row-flex">
        {% for feature in features %}

        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel panel-default">

                <h4 class="card-title">{{ feature.name }}</h4>
                <p class="product-description card-text">{{ feature.description }}</p>

                <form method="post" action="{% url 'add_to_cart' feature.id %}">
                    {% csrf_token %}
                    <button class="btn btn-success" type="submit"><span>€ FIX THIS € </span></button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
