{% extends "base.html" %} {% block content %}


<div class="row">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h1 class="display-2">Welcome, {{ user.username }} </h1>
            <h3 class="display-4">Here lists your created bugs and features. </h3>
        </div>

    </div>
    <hr>
    <div class="row center">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="{% url 'new_bug' %}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Add Bug</button></a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="#"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add Feature</button></a>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h3 class="display-4">Your Bugs:</h3>
    </div>
</div>
<div class="row row-flex">
    {% for bug in bugs %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel panel-default">

            <h4 class="card-title">{{ bug.name }}</h4>
            <p class="product-description card-text">{{ bug.description }}</p>

            <form method="post" action="{% url 'bug_details' bug.id %}">
                {% csrf_token %}
                <button class="btn btn-success" type="submit"><span>View</span></button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h3 class="display-4">Your Features:</h3>
    </div>
</div>
<div class="row row-flex">
    {% for feature in features %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-3 display panel panel-default">
        <div class="panel panel-default">

            <h4 class="card-title">{{ feature.name }}</h4>
            <p class="product-description card-text">{{ feature.description }}</p>

            <form method="post" action="#">
                {% csrf_token %}
                <button class="btn btn-success" type="submit"><span>View</span></button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
